.modal-button {
  width: 341px;
  height: 68px;
  padding: 12px 12px 12px 24px;
  background-color: #244C98;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }

  @media(max-width: 960px) {
    width: 261px;
    height: 56px;
    padding: 10px 10px 10px 18px;
  }

  &__text {
    color: white;
    font-size: 18px;

    @media(max-width: 960px) {
      font-size: 15px;
      line-height: 24px;
    }
  }

  &__arrow-logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 960px) {
      width: 36px;
      height: 36px;
    }

    img {
      width: 36px;
      height: 36px;

      @media(max-width: 960px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}
