.modal-overlay {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  box-sizing: border-box;
  width: 500px;
  background-color: #F0F4FC;
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 400px) {
    padding: 10px;
  }

  &__close-button {
    width: 52px;
    height: 52px;
    border-radius: 14px;
    background-color: white;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}
